.bg-wrapper{
  margin-top: 10rem; /* space for fixed nav-bar*/
  min-height: 60vh; /*same height as img*/
  margin: 0 auto;
  padding-top: 10rem;
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  margin: 0;
  font-size: 4rem;
  color: #ffffff;
  }

.banner p {
  color: white;
  font-size: 1.9rem
}

.banner a {
  border: #28a745 1px solid;
  border-radius: .25rem;
  padding:.5rem;
  text-decoration: none;
  color: white;
}

.banner a:hover {
  text-decoration: none;
  background: white;
  color: #28a745
}

@media (max-width: 600px){
  .banner{
    padding: 0rem 2rem 0rem 2rem;
  }

  .banner h1{
    font-size: 3rem;
  }
  .banner p {
    font-size: 1.4rem
  }
}
