.navbar{
  height:5rem;
  background:white;
}

 nav p{
  padding-top:.5rem;
  padding-right: 2rem
}

nav p:hover{
  color:#25bc46
}

@media (max-width: 750px){
  ul{
    background:rgba(192,192,192,0.3);
  }
}

@media (max-width: 400px) {
  ul{
    margin-left: 1rem
  }
}

@media (min-width: 600px) {
  nav h1{
    padding:2rem;
  }
  ul{
    margin-left: 3rem
  }
}
@media (min-width: 992px) {
  nav h1{
    padding:6rem;
  }
}
